* {
    all: unset; // Unsets everything so you can style everything from scratch

    font-family: CaskaydiaCove Nerd Font;
}

.box-workspaces {
    background: #1e1e2e;
    padding: 2px 2px; // Unchanged
    border-radius: 10px; // Unchanged
    border: 3px solid #cba6f7;
    margin: 2px 2px 2px 2px; // Unchanged
}

.workspace {
    background: #1e1e2e;
    border-radius: 2rem; // Unchanged
    color: #b0b4bc;
    min-width: 1rem; // Unchanged
    margin: 1px 2px; // Unchanged
    padding: 0px 4px; // Unchanged
    transition:
        background 0.2s ease,
        color 0.2s ease;

    &:hover {
        background: #a6adc8;
    }
}

.workspace-active {
    background: #1e1e2e;
    margin: 1px 2px; // Unchanged
    padding: 0px 4px; // Unchanged
    min-width: 1rem; // Unchanged
    color: #cba6f7; // Add text color for active workspace
    transition:
        background 0.2s ease,
        color 0.2s ease;
    border-radius: 1rem;
    border: 1px solid #cba6f7;

    &:hover {
        background: #a6adc8;
    }
}
