Package: rudeus
Version: 1.0
Architecture: amd64
Essential: no
Priority: optional
Depends: xdg-desktop-portal-gnome,xdg-desktop-portal-gtk,gnome-keyring,libudev-dev libgbm-dev libxkbcommon-dev libegl1-mesa-dev libwayland-dev libinput-dev libdbus-1-dev libsystemd-dev libseat-dev libpipewire-0.3-dev libpango1.0-dev libdisplay-info-dev,fish,starship,libgtk-3-dev libdbusmenu-gtk3-dev libgtk-layer-shell-dev
Maintainer: Enzo Le Van <dev@enzo-le-van.fr>
Description: The Rudeus desktop environment
